<h1>Notions#index</h1>
<table>
  <thead>
    <tr>
      <th>データベース名</th>
      <th>データベースID</th>
    </tr>
  </thead>
  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= database.name %></td>
        <td><%= database.database_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
